:root {
    --accent-color: #2196F3;
    --background-grey:#2F303A;
    --ghost-color: #757575;
    --white-color: #FFFFFF;
    --dark-white: #F5F4FA;
    --robot-font: 'Roboto', sans-serif;
    --black-color: #212121;
    --logo-font:'Raleway', sans-serif;

}

body {
    font-family: var(--robot-font);
}


.container {
    width: 1170px;
    margin: 0 auto;
}

 
 
 .grey-section {
     background-color:var(--background-grey);
     padding-top: 200px;
     padding-bottom: 280px;
     text-align: center;
     color: #FFFFFF;

 }
 
 .btn-order {
     background-color:var(--accent-color) ;
 }

 li {
    list-style: none;
 }


 
 .link-item {
     text-decoration: none;
     color: var(--black-color);
     
    }
.link-item:hover {
    color: var(--accent-color);
}
    
    .header-item {
        font-family: var(--robot-font);

 }


 .active {
    color: var(--accent-color)
 }

 .btn-item {
    font-family: var(--robot-font);
 }


.footer {
    background-color: #2F303A;
}

/*  */


.footer-logo {
    color: var(--white-color);
    font-family: var(--logo-font);
    font-size: 26px;
}

.footer-text {
    color: var(--accent-color);
    text-decoration: none;
    font-family: var(--logo-font);
    font-size: 26px;
}


.text {
    color: var(--white-color);
}

.section-list {
    margin-top: 94px;
    margin-bottom: 94px;
}

.section-photos {
    margin-top: 94px;
    margin-bottom: 94px;
}

.section-team {
    margin-top: 94px;
    margin-bottom: 94px;
}

.section-portfolio {
    margin-top: 94px;
    margin-bottom: 94px;
}