:root {
    --accent-color: #2196F3;
    --background-grey:#2F303A;
    --ghost-color: #757575;
    --white-color: #FFFFFF;
    --dark-white: #F5F4FA;
    --robot-font: 'Roboto', sans-serif;
    --black-color: #212121;
}

 
 
 .grey-section {
     background-color:var(--background-grey);
 }
 
 .btn-order {
     background-color:var(--accent-color) ;
 }

 li {
    list-style: none;
 }


 
 .link-item {
     text-decoration: none;
     color: var(--black-color);
     
    }
.link-item:hover {
    color: var(--accent-color);
}
    
    .header-item {
        font-family: var(--robot-font);

 }


 .active {
    color: var(--accent-color)
 }

 .btn-item {
    font-family: var(--robot-font);
 }

