:root {
    --accent-color: #2196F3;
    --background-grey: #2F303A;
    --ghost-color: #757575;
    --white-color: #FFFFFF;
    --dark-white: #F5F4FA;
    --robot-font: 'Roboto', sans-serif;
    --black-color: #212121;
    --logo-font: 'Raleway', sans-serif;

}

body {
    font-family: var(--robot-font);
}


.container {
    width: 1170px;
    margin: 0 auto;
}



.grey-section {
    background-color: var(--background-grey);
    background-image: url("sudio-remake.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 280px;
    text-align: center;
    color: #FFFFFF;
}

.efect-sugestions {
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 6%;
    text-align: center;
    text-transform: uppercase;
}

.btn-order {
    background-color: var(--accent-color);
    color: var(--white-color);
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 6%;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background: rgb(33, 150, 243);
    border: none;
    padding: 10px 32px 10px 32px;
    cursor: pointer;
}

li {
    list-style: none;
}



.link-item {
    text-decoration: none;
    color: var(--ghost-color);

}

.link-item:hover {
    color: var(--accent-color);
}

.header-item {
    font-family: var(--robot-font);

}


.active {
    color:var(--accent-color)

}
.active-portfolio {
    color:var(--accent-color);
    text-decoration: none;
    
}
.active::after {
    content:"";
    width: 47px;
    height: 4px;
    background-color: #2196F3;
    z-index: 5;
    display: block;
}
.active-portfolio::after {
    content:"";
    width: 79px;
    height: 4px;
    background-color: #2196F3;
    z-index: 5;
    display: block;
}



.footer {
    display: flex;
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 393px;
    position: relative;
    top: 17px;

}

.Social-png {
    padding-left: 70px;
    display: block;
}




.footer-logo {
    color: var(--white-color);
    font-family: var(--logo-font);
    font-size: 26px;

}


.footer-text {
    color: var(--accent-color);
    text-decoration: none;
    font-family: var(--logo-font);
    font-size: 26px;
}


.text {
    color: var(--white-color);
}

.section-list {
    margin-top: 94px;
    margin-bottom: 94px;
}

.section-photos {
    margin-top: 94px;
    margin-bottom: 94px;
}

.section-team {
    margin-top: 94px;
    margin-bottom: 94px;
}
.Social-ink {
    position: relative;
    left: 25px;
}

.label {
    position: relative;
    top: -76px;
}

.team-item {
    width: 270px;
    height: 407px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background: rgb(255, 255, 255);
}

.team-p {
    text-align: center;
}

.team-h3 {
    text-align: center;
}

.section-portfolio {
    margin-top: 94px;
    margin-bottom: 94px;
    /* outline: solid 2px blue; */

}


.header {
    display: flex;

}


.header-list {
    display: flex;
    gap: 50px;
}


.header-contacts {
    display: flex;
    gap: 50px;
    margin-left: auto;
}


.logo {
    margin-top: 12.1px;
}


.about-list {
    display: flex;
    gap: 30px;
}

.about-item {
    max-width: 270px;
    /* max-height: 72px; */
}

.company-list {
    display: flex;
    gap: 30px;

}

.our-team {
    display: flex;
    gap: 30px;
}

.center-text {
    text-align: center;
}


.footer-list {
    padding-left: 0;
}

.btn-list {
    display: flex;
    margin: 0 auto;
    width: 575px;
    padding-left: 0;
    gap: 8px;
}

.btn-item {
    font-family: var(--robot-font);
    color: var(--white-color);
    width: 125px;
    height: 38px;
    border-radius: 4px;
    background: rgb(245, 244, 250);
}

.btn-item-section {
    width: 125px;
    height: 38px;
    border-radius: 4px;
    background: rgb(245, 244, 250);
    border: none;
}

.btn-item-section:hover {
    background-color: #2196F3;
    color: var(--white-color);
    cursor: pointer;
}


.image-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: -30px;
    padding-left: 0;
}

.image-item {
    width: 370px;
    box-sizing: border-box;
    border: 1px solid rgb(238, 238, 238);
    background: rgb(255, 255, 255);

}

.image-item:hover {
    border-bottom: 1px solid rgb(238, 238, 238);
    border-left: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);

}


.image-p {
    padding-left: 24px;
}


.image-h3 {
    padding-left: 24px;
}